div.game-logo {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

div.game-logo div:last-child {
    background-color: greenyellow;
    color: black;
    padding: 50px;
    flex: 1;
}

div.game-logo div:first-child {
    background-color: lightskyblue;
    color: black;
    padding: 50px;
    flex: 1;
}

div.game-logo div:nth-child(2) {
    flex: 1;
    color: black;
    padding: 50px;
}